.content {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #292929 0%, rgb(22, 22, 22) 100%);
  box-sizing: border-box;

  font-family: "M PLUS 1 Code", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  color: white;
}
