.src {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 400vw;
}
.scr1 {
  position: relative !important;
}
.scroll {
  display: flex;
  justify-content: center;
  width: 100vw !important;
  position: absolute;
  bottom: 4vh !important;
  color: rgb(129, 129, 129);
  z-index: -1;
  font-size: 15px;
}
.reset {
  position: absolute;
  bottom: 35px !important;
  right: 70px;
  color: rgb(177, 177, 177);
  font-size: 12px;
  z-index: -1;
}
