.content {
  padding: 8vh;
}
.title {
  font-family: "M PLUS 1 Code", monospace;
  font-size: 4vh;
  color: white;
  padding-bottom: 10vh;
}
.wrapper {
  padding: 100px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20vh;
  box-sizing: border-box;
}
.blocks {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-left: 50px;
}
.blocks div {
  background: white;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;

  font-family: "M PLUS 1 Code", monospace;
  font-size: 3vh;
  cursor: pointer;
}
.last {
  transform: translate(30px, 30px);
}
.logo {
  background-image: url("./img/contact.svg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  transform: translateX(50px);
}
